
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống thư viện THPT Phú Bình</title>
    <link rel="stylesheet" href="~/assets/fonts/fontawesome-free-6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/normalize.min.css">
    <link rel="stylesheet" href="~/assets/css/base.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/header_menu.css">
    <link rel="stylesheet" href="~/assets/css/container.css">
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="grid">
                <!-- Header with search -->
                <div class="header-with-search">
                    <div class="header__logo">
                        <img src="~/assets/img/logo.png" alt="" class="header__logo-img">
                        <h1 class="header__logo-title">THƯ VIỆN<br>TRƯỜNG THPT PHÚ BÌNH</h1>
                    </div>

                    <div class="header__search">
                        <input type="text" class="auth-form__input search-input" id="" name="" placeholder="Tìm kiếm">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </div>

                    <a class="header__menu">
                        <i class="fa-solid fa-bars menu_icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- <div class="category">
                <div class="item1 item">
                    <div class="item1_item item1_1">Sách giáo khoa</div>  Chỗ này thay thành thẻ a sau
                    <div class="item1_item item1_2">Sách tham khảo</div>
                    <div class="item1_item item1_3">Hentai</div>
                    <div class="item1_item item1_4">Neflix</div>
                </div>
                <div class="item2 item">
                    <div class="item2_item item2_1">Toán</div>
                    <div class="item2_item item2_2">Lý</div>
                    <div class="item2_item item2_3">Anh</div>
                    <div class="item2_item item2_3">Phân tích & Thiết kế hệ thống</div>
                </div>
                <div class="item3 item"></div>
            </div> -->

            <div class="grid container__content">
                <div class="container__category">
                    <ul class="category__list">
                        <li class="category__item">Quản lý sách</li>
                        <li class="category__item">Quản lý độc giả</li>
                        <li class="category__item">Quản lý mượn</li>
                        <li class="category__item">Quản lý trả</li>
                        <li class="category__item">Quản lý danh sách đen</li>
                        <li class="category__item">Thống kê</li>
                    </ul>
                </div>

                <div class="container__books">
                    <ul class="header__books">
                        <li class="header__book-item-Check">

                        </li>

                        <li class="header__book-item-Id">
                            Mã sách
                        </li>

                        <li class="header__book-item-Name">
                            Tên sách
                        </li>

                        <li class="header__book-item-Author">
                            Tác giả
                        </li>

                        <li class="header__book-item-Cate">
                            Thể loại
                        </li>

                        <li class="header__book-item-Year">
                            Năm xuất bản
                        </li>

                        <li class="header__book-item-Menu">
                            Thao tác
                        </li>
                    </ul>
                    <div id="container__list">
                        <script>
                            let hight = screen.availHeight;
                            hight = hight - 190;
                            let container__list = document.getElementById("container__list");
                            console.log(hight);
                            container__list.style.height = hight.toString() + "px";
                            container__list.style.overflow = "auto";
                        </script>



                        <ul class="book__list">
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book1">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>

                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book2">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>

                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book3">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>

                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book4">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>

                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>
                            <li class="book__item">
                                <input type="checkbox" class="check__item-book" id="book5">
                                <h1 class="book__id">001</h1>
                                <p class="book__name">300 bài code thiếu nhi</p>
                                <p class="book__author">ADMIN</p>
                                <p class="book__cate">Khoa học viễn tưởng</p>
                                <p class="book__year">2023</p>
                                <ul class="book__menu">
                                    <li class="book__menu-item">Sửa</li>
                                    <li class="book__menu-item">Xóa</li>
                                </ul>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer">

        </div>
    </div>


</body>
</html>

