.container {
    margin-top: 0.5em;
    width: 100%;

}

.container__content {
    display: flex;
}

.container__category {
    /* border: 2px solid var(--border-color); */
    width: 20%;
    background-color: #f6f8fc;
    height: auto;

}

.category__list {
    padding: 0;
    padding-left: 2em;
    list-style: none;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.5em;
    
}

.category__item {
    margin-bottom: 1em;
}


.category__cate {
    padding: 0;
    padding-left: 2em;
    list-style: none;
    line-height: 1.5em;
    font-weight: 00;
}

.container__books {
    /* border-radius: 0.5em;
    border: 1px solid var(--border-color); */
    background: #f6f8fc;
    width: 80%;
    
    position: relative;
    overflow: auto;


}

/* Header sach */
.header__books {
    position: absolute;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 1.6em;
    font-weight: 600;
    padding: 0 10px 0 10px;
    background-color:  #f6f8fc;
}

.header__book-item-Check {
    width: 2%;
    margin: 1%;
    
}

.header__book-item-Id {
    width: 8%;
    margin: 1%;
    
}

.header__book-item-Name {
    width: 23%;
    margin: 1%;

}

.header__book-item-Author {
    width: 13%;
    margin: 1%;

}

.header__book-item-Cate {
    width: 18%;
    margin: 1%;

}

.header__book-item-Year {
    width: 10%;
    margin: 1%;

}

.header__book-item-Menu {
    width: 12%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Danh sach sach */
.book__list {
    margin: 0;
    margin-top: 5em;
    display: block;
    list-style: none;
    padding: 0;
}

.book__item {
    display: flex;
    width: 100%;
    border: 1px solid #f6f8fc;
    background-color: var(--white-color);
    padding: 1em;
    align-items: center;
    height: 5em;
    margin-top: 0.2em;
    overflow: hidden;
}

.book__item:hover {
    border: 1px solid var(--border-color);
    box-shadow: 1px 2px 3px var(--border-color);

    border-radius: 3em;
    background-color: #f6f8fc;
    
}

.check__item-book {
    width: 2%;
    margin: 1%;
}

.book__id {
    width: 8%;
    margin: 1%;
    font-size: 1.6em;
    align-items: center;
    overflow: hidden;

}

.book__name {
    width: 23%;
    margin: 1%;
    font-size: 1.6em;
    font-weight: 600;
    overflow: hidden;
}

.book__author {
    width: 13%;
    margin: 1%;
    font-size: 1.6em;
    overflow: hidden;
}

.book__cate {
    width: 18%;
    margin: 1%;
    font-size: 1.6em;
    overflow: hidden;
}

.book__year {
    width: 10%;
    margin: 1%;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.book__menu {
    width: 12%;
    margin: 1%;
    font-size: 1.6em;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}



